.headerAccordion {
    text-align: center;
    padding:0;
    margin:0;
    width: 100%;
    z-index:0;
    text-overflow: ellipsis;
    color: #0D6EFD;
    font-size: 25px;
}

.bodyAccordion{
    background-color: #F8F9D7;
}

/*.accordion-header{*/
/*    background-color: yellow;*/
/*}*/