@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ff8000;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 9s linear infinite;
}




.background li:nth-child(0) {
    left: 74%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 33%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 40%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 9s;
}
.background li:nth-child(3) {
    left: 26%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 42%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 66%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 20s;
}
.background li:nth-child(6) {
    left: 49%;
    width: 185px;
    height: 185px;
    bottom: -185px;
    animation-delay: 5s;
}
.background li:nth-child(7) {
    left: 36%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 17s;
}
.background li:nth-child(8) {
    left: 79%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 17s;
}
.background li:nth-child(9) {
    left: 62%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 37s;
}



