.translateGameBG {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}



.sky {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  border-radius: 885px;
  background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #eef1f8);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #eaeef8, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - -119px);
  left: calc(50% - 43px);
  animation-delay: 4000ms;
}

.star:nth-child(2) {
  top: calc(50% - -43px);
  left: calc(50% - 37px);
  animation-delay: 5000ms;
}

.star:nth-child(3) {
  top: calc(50% - -40px);
  left: calc(50% - 222px);
  animation-delay: 7000ms;
}

.star:nth-child(4) {
  top: calc(50% - -29px);
  left: calc(50% - 113px);
  animation-delay: 7000ms;
}

.star:nth-child(5) {
  top: calc(50% - 146px);
  left: calc(50% - 112px);
  animation-delay: 3000ms;
}

.star:nth-child(6) {
  top: calc(50% - -108px);
  left: calc(50% - 160px);
  animation-delay: 3000ms;
}

.star:nth-child(7) {
  top: calc(50% - 52px);
  left: calc(50% - 72px);
  animation-delay: 7000ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(270px);
  }
}