.chevron{
    width:20px;
    height:20px;
}
.small-btn {
    width: 30%;
    height: 13%;
    float: left;
    margin-left:40%;
}
@media only screen and (max-width: 600px) {
  .small-btn {
    width: 50px;
    height: 20px;
    font-size: 10px;
  }
}

.lab_nextAvatar{
    font-family: monospace;
    color: green;
    font-size: 25px;
    margin-top: 10px;
}
.txt_afterLab{
    font-family: monospace;
    color: green;
    font-size: 16px;
}
    
    .container {
  display: flex;
  align-items: center;
}
.avatar-container {
  width: 70%;
  height: 70%;
}
.inputs-container {
 display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input-row {
  display: flex;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
