.transition-effect-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.transition-effect {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
}
.bg-primary {
  background-color: #f00;
}
.bg-light {
  background-color: #ccc;
}
.bg-dark {
  background-color: #000;
}
