.cool-font-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cool Font', sans-serif;
}

.small-button {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Bubbly Font';
  font-size: 36px;
  color: #333;
  text-align: center;
  justify-content: center;
}
.styled-text {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.circle-button {
  border-radius: 100%;
  font-family: 'Cool Font';
  height: 140px;
  width: 140px;
  font-size: 18px;
}
.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-button {
  margin: 0 40px;
  align-items: center;
  justify-content: center;
}
.small-button{
  font-size:14px;
  padding:4px 8px;
  min-width:80px;
  max-height: 50%;
}
.icon-selector-container {
    position: relative;
}

.icon-selector-container .category-selector {
    position: absolute;
    top: -50px; /* adjust as needed */
    z-index: 1;
}
.icon-center{
  margin-left:25%
}

.question-background{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  border-radius: 10px;
}