.achievement-container{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 150px;
  transition: 150ms;
  opacity: 0.3;
}

.achieved:hover{
  transform: translateY(-5px);
}

.achieved{
  opacity: 1;
}

.achievement-img{
  opacity: 0.8;
  filter: grayscale(1.0);
}

.achieved .achievement-img{
  opacity: 1;
  filter: none;
}

.achievement-requirement{
  margin-top: 10px;
  opacity: 0.6;
}
@media only screen and (max-width: 767px) {
  .achievement-container{
    width: 100px;
  }
}